@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

:root {
    --cards-grid-gap: 1rem;
    --accent: #5da0db;
    --bg: #2b2b2c;
    --main-text: #e9e4e2;
    --main-text-darker: #d2cdcb;
    --secondary-text: #888585;
    --nav: #222223;
}

*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--bg);
    padding-top: 86px;
}

footer {
    background-color: var(--nav);
    padding: 3rem;
    color: var(--secondary-text);
    text-align: center;
}

footer a {
    color: var(--secondary-text);
    text-decoration: none;
}

nav {
    background-color: var(--nav);
    padding: 1rem;
    color: var(--main-text);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
}

nav img {
    height: 50px;
}

h1 {
    font-size: 2.5rem;
    color: var(--main-text);
    margin-bottom: 2rem;
    font-weight: 900;
}

h2 {
    color: var(--main-text);
    margin-bottom: 1rem;
}



main {
    margin: 4rem auto;
    padding-inline: 1rem;
}

.responsive-container {
    width: min(100%, 1200px);
    margin: auto;
}


.loading {
    background-color: var(--bg);
    min-height: 100vh;
    position: fixed;
    left: 0;
    width: 100%;
    z-index: 200;
    color: var(--main-text);
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loading p {
    color: var(--accent);
    font-size: 2rem;
    font-weight: 200;
    display: flex;
    align-items: baseline;
}

.loading span {
    font-size: 3rem;
    font-weight: 700;
}

.loading svg {
    height: 18px;
    width: auto;
    animation: rotate 2s linear infinite;
}

.loading-container {
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.loading-bar {
    height: 1px;
    background-color: var(--accent);
    width: 0%;
    align-self: flex-start;
}




.nav-container {
    width: min(100%, 1200px);
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-icons {
    display: flex;
    gap: 1.5rem;
}

header {
    position: relative;
    display: flex;
    flex-direction: column;
}

header img {
    width: 100%;
}

.socials {
    height: 40px;
    background-color: #262627;
    position: static;
    bottom: 0;
    left: 0;
    right: 0;
    padding-inline: 1rem;
}

.socials-container {
    height: 100%;
    width: min(100%, 1200px);
    margin: auto;
    display: flex;
    gap: 1.5rem;
    align-items: center;
}

.socials-container a {
    color: var(--accent);
    text-decoration: none;
}

.clubs {
    display: flex;
    flex-wrap: wrap;
    gap: var(--cards-grid-gap);
}

.card {
    /* min-height: 400px; */
    perspective: 1000px;
    position: relative;
    width: 100%;
    aspect-ratio: 2 / 3;
    cursor: pointer;
    transition: all 0.2s ease-in;
}

/* .card:hover .front {
    transform: rotateY(180deg);
}

.card:hover .back {
    transform: rotateY(0deg);
} */

.front {
    position: absolute;
    height: 100%;
    width: 100%;
    backface-visibility: hidden;
    transition: ease-in-out 600ms;
    color: var(--main-text);
    display: flex;
    flex-direction: column;
}

.front::after {
    content: "";
    position: absolute;
    height: 50%;
    width: 100%;
    background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 50%);
    z-index: -1;
    transition: all 0.3s ease;
}

.front>img {
    width: 100%;
    height: 50%;
    object-fit: cover;
    position: relative;
    z-index: -2;
}

.front>p {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: all 0.3s ease;
}

.front:hover>p {
    opacity: 1;
    transform: translateY(450%) translateX(-50%);
}

.front:hover::after {
    background-color: rgba(0, 0, 0, .75);
}

.front:hover .badge::after {
    transform: scale(1.2) rotate(360deg);
    border: 3px dotted var(--secondary-text);
}

.heading-details {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.heading-details img {
    height: 48px;
}

.badge {
    background-color: var(--main-text);
    border-radius: 50%;
    padding-top: 30%;
    width: 30%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.badge::after {
    content: "";
    position: absolute;
    transform: scale(1.1);
    border: 2px dotted var(--secondary-text);
    width: 100%;
    height: 100%;
    border-radius: 50%;
    left: 0;
    top: 0;
    transition: all 0.3s ease;
}

.badge img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
}


.details {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    background-color: #262627;
    padding-top: 15%;
}

.details p {
    color: var(--secondary-text);
}



.back {
    position: absolute;
    height: 100%;
    width: 100%;
    backface-visibility: hidden;
    transform: rotateY(-180deg);
    transition: ease-in-out 600ms;
    background-color: #262627;
    color: var(--main-text);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    padding: 1rem;
}

.back img {
    width: 100%;
    height: 40%;
    object-fit: contain;
}

.back p {
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-align: left;
    color: var(--secondary-text);
    line-height: 1.6rem;
}


.back button {
    background-color: var(--main-text);
    border: none;
    font-family: 'Roboto', sans-serif;
    transition: ease-in-out 300ms;
    width: 140px;
    text-transform: uppercase;
    font-weight: 700;
}

.back a {
    color: #000e14;
    text-decoration: none;
    display: block;
    padding: 0.5rem 1rem;
}

.back button:hover {
    letter-spacing: 1px;
    background-color: var(--accent);
}

.info {
    display: flex;
    margin-bottom: 2rem;
    flex-direction: column;
}

.info>img {
    order: -1;
}

.info-details {
    justify-content: center;
    display: flex;
    flex-direction: column;
    padding-inline: 1rem;
    background-color: #262627;
}

.info-details p {
    height: 48px;
    display: flex;
    align-items: center;
    color: var(--main-text);
    justify-content: space-between;
}

.info-details p:not(:last-child) {
    border-bottom: 1px solid #3c3c3d;
}

.info-details p span {
    font-weight: 700;
}


section {
    margin-bottom: 4rem;
}


.content {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.content>p {
    line-height: 2rem;
    color: var(--main-text-darker);
}

.images {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #262627;
    padding-inline: 1rem;
    gap: 1.5rem;
    padding-block: 1rem;
    order: -1;
}

.images .paragraphs {
    width: 100%;
}

.images p {
    height: 48px;
    display: flex;
    align-items: center;
    color: var(--main-text);
    justify-content: space-between;
    width: 100%;
}

.images p:not(:last-child) {
    border-bottom: 1px solid #3c3c3d;
}

.images img {
    width: 50%;
}

#competitions p {
    border: 1px solid var(--main-text-darker);
    width: max-content;
    padding: 0.5rem 1rem;
    border-radius: 50rem;
    color: var(--main-text-darker);
    margin-bottom: 0.625rem;
}

.slider {
    position: relative;
    width: 100%;
    aspect-ratio: 16/9;
    margin-bottom: 4rem;
}

.slider img {
    width: 100%;
    position: absolute;
    visibility: hidden;
}

.slider img.first {
    opacity: 1;
    visibility: inherit;
}

.clubs-bar {
    display: flex;
    overflow-x: auto;
    justify-content: space-between;
    gap: 1rem;

}

.clubs-bar a {
    color: var(--main-text-darker);
    text-decoration: none;
    transition: ease-in-out 300ms;
}

.clubs-bar a:hover {
    letter-spacing: 1px;
    color: var(--accent);
}

.clubs-bar span {
    font-size: 0.75rem;
    font-weight: 700;
}


.clubs-bar-club {
    display: flex;
    flex-direction: column;
    height: 80px;
    align-items: center;
    justify-content: space-around;
}

.clubs-bar-club img {
    height: 50%;
}


@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}


@media only screen and (min-width : 481px) {
    .card {
        width: calc((100% - var(--cards-grid-gap)) / 2);
    }
}


@media only screen and (min-width : 769px) {

    .card {
        width: calc((100% - 2* var(--cards-grid-gap)) / 3);
    }
}



@media only screen and (min-width : 1025px) {

    .content {
        flex-direction: row;
        gap: 0;
    }

    .content>p {
        width: 65%;
        padding-right: 2rem;
    }

    .images {
        width: 35%;
        order: 0;
        padding-inline: 1.5rem;
    }

    .info {
        flex-direction: row;
    }

    .info>img {
        width: 65%;
        order: 0;
    }


    .info-details {
        width: 35%;
        padding-inline: 1.5rem;
    }

    .card {
        width: calc((100% - 3* var(--cards-grid-gap)) / 4);
    }

    .socials {
        position: absolute;
        background-color: rgba(0, 0, 0, 0.66);
    }

}