@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

:root {
    --cards-grid-gap: 1rem;
    --accent: #5da0db;
    --accent-lighter: #7db3e2;
    --border: #3c3c3d;
    --bg: #2b2b2c;
    --bg-darker: #262627;
    --main-text: #e9e4e2;
    --main-text-darker: #d2cdcb;
    --secondary-text: #888585;
    --secondary-text-lighter: #a09d9d;
    --text-dark: #000e14;
    --nav: #222223;
}

*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--bg);
    padding-top: 86px;
}

footer {
    background-color: var(--nav);
    padding: 3rem;
    color: var(--secondary-text);
    text-align: center;
}

footer a {
    color: var(--secondary-text);
    text-decoration: none;
}

footer a:hover {
    color: var(--secondary-text-lighter);
}

nav {
    background-color: var(--nav);
    padding: 1rem;
    color: var(--main-text);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
}

nav img {
    height: 50px;
}

h1 {
    font-size: 2.5rem;
    color: var(--main-text);
    margin-bottom: 2rem;
    font-weight: 900;
}

h2 {
    color: var(--main-text);
    margin-bottom: 1rem;
}



main {
    margin: 4rem auto;
    padding-inline: 1rem;
}

.responsive__container {
    width: min(100%, 1200px);
    margin: auto;
}


.loading {
    background-color: var(--bg);
    min-height: 100vh;
    position: fixed;
    left: 0;
    width: 100%;
    z-index: 200;
    color: var(--main-text);
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loading p {
    color: var(--accent);
    font-size: 2rem;
    font-weight: 200;
    display: flex;
    align-items: baseline;
}

.loading span {
    font-size: 3rem;
    font-weight: 700;
}

.loading svg {
    height: 18px;
    width: auto;
    animation: rotate 2s linear infinite;
}

.loading__container {
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.loading__bar {
    height: 1px;
    background-color: var(--accent);
    width: 0%;
    align-self: flex-start;
}




.nav__container {
    width: min(100%, 1200px);
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__icons {
    display: flex;
    gap: 1.5rem;
}

header {
    position: relative;
    display: flex;
    flex-direction: column;
}

header img {
    width: 100%;
}

.socials {
    height: 40px;
    background-color: var(--bg-darker);
    position: static;
    bottom: 0;
    left: 0;
    right: 0;
    padding-inline: 1rem;
}

.socials__container {
    height: 100%;
    width: min(100%, 1200px);
    margin: auto;
    display: flex;
    gap: 1.5rem;
    align-items: center;
}

.socials__container a {
    color: var(--accent);
    text-decoration: none;
}

.socials__container a:hover {
    color: var(--accent-lighter);
}

.club__cards {
    display: flex;
    flex-wrap: wrap;
    gap: var(--cards-grid-gap);
}

.club__card {
    /* min-height: 400px; */
    perspective: 1000px;
    position: relative;
    width: 100%;
    aspect-ratio: 2 / 3;
    cursor: pointer;
    transition: all 0.2s ease-in;
}

/* .card:hover .front {
    transform: rotateY(180deg);
}

.card:hover .back {
    transform: rotateY(0deg);
} */

.club__card__front {
    position: absolute;
    height: 100%;
    width: 100%;
    backface-visibility: hidden;
    transition: ease-in-out 600ms;
    color: var(--main-text);
    display: flex;
    flex-direction: column;
}

.club__card__front::after {
    content: "";
    position: absolute;
    height: 50%;
    width: 100%;
    background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 50%);
    z-index: -1;
    transition: all 0.3s ease;
}

.club__card__front>img {
    width: 100%;
    height: 50%;
    object-fit: cover;
    position: relative;
    z-index: -2;
}

.club__card__front>p {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: all 0.3s ease;
}

.club__card__front:hover>p {
    opacity: 1;
    transform: translateY(450%) translateX(-50%);
}

.club__card__front:hover::after {
    background-color: rgba(0, 0, 0, .75);
}

.club__card__front:hover .club__card__front__badge::after {
    transform: scale(1.2) rotate(360deg);
    border: 3px dotted var(--secondary-text);
}

.heading {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.heading img {
    height: 48px;
}

.club__card__front__badge {
    background-color: var(--main-text);
    border-radius: 50%;
    padding-top: 30%;
    width: 30%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.club__card__front__badge::after {
    content: "";
    position: absolute;
    transform: scale(1.1);
    border: 2px dotted var(--secondary-text);
    width: 100%;
    height: 100%;
    border-radius: 50%;
    left: 0;
    top: 0;
    transition: all 0.3s ease;
}

.club__card__front__badge img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
}


.club__card__front__details {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    background-color: var(--bg-darker);
    padding-top: 15%;
}

.club__card__front__details p {
    color: var(--secondary-text);
}



.club__card__back {
    position: absolute;
    height: 100%;
    width: 100%;
    backface-visibility: hidden;
    transform: rotateY(-180deg);
    transition: ease-in-out 600ms;
    background-color: var(--bg-darker);
    color: var(--main-text);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    padding: 1rem;
}

.club__card__back img {
    width: 100%;
    height: 40%;
    object-fit: contain;
}

.club__card__back p {
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-align: left;
    color: var(--secondary-text);
    line-height: 1.6rem;
}


.club__card__back button {
    background-color: var(--main-text);
    border: none;
    font-family: 'Roboto', sans-serif;
    transition: ease-in-out 300ms;
    width: 140px;
    text-transform: uppercase;
    font-weight: 700;
}

.club__card__back a {
    color: var(--text-dark);
    text-decoration: none;
    display: block;
    padding: 0.5rem 1rem;
}

.club__card__back button:hover {
    letter-spacing: 1px;
    background-color: var(--accent);
}

.stadium__info {
    display: flex;
    margin-bottom: 2rem;
    flex-direction: column;
}

.stadium__info>img {
    order: -1;
    width: 100%;
}

.stadium__info__details {
    justify-content: center;
    display: flex;
    flex-direction: column;
    padding-inline: 1rem;
    background-color: var(--bg-darker);
}

.stadium__info__details p {
    height: 48px;
    display: flex;
    align-items: center;
    color: var(--main-text);
    justify-content: space-between;
}

.stadium__info__details p:not(:last-child) {
    border-bottom: 1px solid var(--border);
}

.stadium__info__details p span {
    font-weight: 700;
    text-align: right;
}


section {
    margin-bottom: 4rem;
}


.section__content {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.section__content>p {
    line-height: 2rem;
    color: var(--main-text-darker);
}

.history__details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-darker);
    padding-inline: 1rem;
    gap: 1.5rem;
    padding-block: 1rem;
    order: -1;
}

.history__details .history__details__data {
    width: 100%;
}

.history__details p {
    height: 48px;
    display: flex;
    align-items: center;
    color: var(--main-text);
    justify-content: space-between;
    width: 100%;
}

.history__details p:not(:last-child) {
    border-bottom: 1px solid var(--border);
}

.history__details img {
    width: 50%;
}

#competitions p {
    border: 1px solid var(--main-text-darker);
    width: max-content;
    padding: 0.5rem 1rem;
    border-radius: 50rem;
    color: var(--main-text-darker);
    margin-bottom: 0.625rem;
}

.gallery__slider {
    position: relative;
    width: 100%;
    aspect-ratio: 16/9;
    margin-bottom: 4rem;
}

.gallery__slider img {
    width: 100%;
    position: absolute;
    visibility: hidden;
}

.gallery__slider img.gallery__slider__first {
    opacity: 1;
    visibility: inherit;
}

.clubs__bar {
    display: flex;
    overflow-x: auto;
    justify-content: space-between;
    gap: 1rem;

}

.clubs__bar a {
    color: var(--main-text-darker);
    text-decoration: none;
    transition: ease-in-out 300ms;
}

.clubs__bar a:hover {
    letter-spacing: 1px;
    color: var(--accent);
}

.clubs__bar span {
    font-size: 0.75rem;
    font-weight: 700;
}


.clubs__bar__club {
    display: flex;
    flex-direction: column;
    height: 80px;
    align-items: center;
    justify-content: space-around;
}

.clubs__bar__club img {
    height: 50%;
}


@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}


@media only screen and (min-width : 481px) {
    .club__card {
        width: calc((100% - var(--cards-grid-gap)) / 2);
    }
}


@media only screen and (min-width : 769px) {

    .club__card {
        width: calc((100% - 2* var(--cards-grid-gap)) / 3);
    }
}



@media only screen and (min-width : 1025px) {

    .section__content {
        flex-direction: row;
        gap: 0;
    }

    .section__content>p {
        width: 65%;
        padding-right: 2rem;
    }

    .history__details {
        width: 35%;
        order: 0;
        padding-inline: 1.5rem;
    }

    .stadium__info {
        flex-direction: row;
    }

    .stadium__info>img {
        width: 65%;
        order: 0;
    }


    .stadium__info__details {
        width: 35%;
        padding-inline: 1.5rem;
    }

    .club__card {
        width: calc((100% - 3* var(--cards-grid-gap)) / 4);
    }

    .socials {
        position: absolute;
        background-color: rgba(0, 0, 0, 0.66);
    }

}