@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #2b2b2c;
    padding-top: 86px;
    position: relative;
}

footer {
    background-color: #222223;
    padding: 3rem;
    color: #888585;
    text-align: center;
}

footer a {
    color: #888585;
    text-decoration: none;
}

nav {
    background-color: #222223;
    padding: 1rem;
    color: #e9e4e2;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
}

nav img {
    height: 50px;
}

h1 {
    font-size: 2.5rem;
    color: #e9e4e2;
    margin-bottom: 2rem;
    font-weight: 900;
}

h2 {
    color: #e9e4e2;
    margin-bottom: 1rem;
}



main {

    margin: 4rem auto;
    padding-inline: 1rem;
}

.responsive-container {
    width: min(100%, 1200px);
    margin: auto;
}


.loading {
    background-color: #2b2b2c;
    min-height: 100vh;
    position: absolute;
    width: 100%;
    z-index: 200;
    color: #e9e4e2;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loading p {
    color: #5da0db;
    font-size: 2rem;
    font-weight: 200;
    display: flex;
    align-items: baseline;
}

.loading span {
    font-size: 3rem;
    font-weight: 700;
}

.loading svg {
    height: 18px;
    width: auto;
    animation: rotate 2s linear infinite;
}

.loading-container {
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.loading-bar {
    height: 1px;
    background-color: #5da0db;
    width: 0%;
    align-self: flex-start;
}




.nav-container {
    width: min(100%, 1200px);
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-icons {
    display: flex;
    gap: 1.5rem;
}

header {
    position: relative;
    display: flex;
    flex-direction: column;
}

header img {
    width: 100%;
}

.socials {
    height: 40px;
    background-color: #262627;
    position: static;
    bottom: 0;
    left: 0;
    right: 0;
    padding-inline: 1rem;
}

.socials-container {
    height: 100%;
    width: min(100%, 1200px);
    margin: auto;
    display: flex;
    gap: 1.5rem;
    align-items: center;
}

.socials-container a {
    color: #5da0db;
    text-decoration: none;
}

.clubs {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.card {
    min-height: 400px;
    perspective: 1000px;
    position: relative;
    flex: 1 0 50%;
}

.card:hover .front {
    transform: rotateY(180deg);
}

.card:hover .back {
    transform: rotateY(0deg);
}

.front {
    position: absolute;
    height: 100%;
    width: 100%;
    backface-visibility: hidden;
    transition: ease-in-out 600ms;
    color: #e9e4e2;
    display: flex;
    flex-direction: column;
}

.front::after {
    content: "";
    position: absolute;
    height: 50%;
    width: 100%;
    background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 50%);
    z-index: -1;
}

.front>img:first-child {
    width: 100%;
    height: 50%;
    object-fit: cover;
    position: relative;
    z-index: -2;
}

.heading-details {
    display: flex;
    gap: 1rem;
}

.heading-details img {
    height: 48px;
}

.badge {
    background-color: #e9e4e2;
    border-radius: 50%;
    padding-top: 30%;
    width: 30%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.badge::after {
    content: "";
    position: absolute;
    transform: scale(1.1);
    border: 2px dotted #888585;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    left: 0;
    top: 0;
}

.badge img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
}


.details {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    background-color: #262627;
    padding-top: 15%;
}

.details p {
    color: #888585;
}



.back {
    position: absolute;
    height: 100%;
    width: 100%;
    backface-visibility: hidden;
    transform: rotateY(-180deg);
    transition: ease-in-out 600ms;
    background-color: #262627;
    color: #e9e4e2;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    padding: 1rem;
}

.back img {
    width: 100%;
    height: 40%;
    object-fit: contain;
}

.back p {
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-align: left;
    color: #888585;
    line-height: 1.6rem;
}


.back button {
    background-color: #e9e4e2;
    border: none;
    font-family: 'Roboto', sans-serif;
    transition: ease-in-out 300ms;
    width: 140px;
    text-transform: uppercase;
    font-weight: 700;
}

.back a {
    color: #000e14;
    text-decoration: none;
    display: block;
    padding: 0.5rem 1rem;
}

.back button:hover {
    letter-spacing: 1px;
    background-color: #5da0db;
}

.info {
    display: flex;
    margin-bottom: 2rem;
}

.info>img {
    width: 65%;
}

.info-details {
    width: 35%;
    justify-content: center;
    display: flex;
    flex-direction: column;
    padding-inline: 1.5rem;
    background-color: #262627;
}

.info-details p {
    height: 48px;
    display: flex;
    align-items: center;
    color: #e9e4e2;
    justify-content: space-between;
}

.info-details p:not(:last-child) {
    border-bottom: 1px solid #3c3c3d;
}

.info-details p span {
    font-weight: 700;
}


section {
    margin-bottom: 4rem;
}


.content {
    display: flex;
}

.content>p {
    line-height: 2rem;
    color: #d2cdcb;
    width: 65%;
    padding-right: 2rem;
}

.images {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #262627;
    padding-inline: 1.5rem;
    width: 35%;
    gap: 1.5rem;
    padding-block: 1rem;
}

.images .paragraphs {
    width: 100%;
}

.images p {
    height: 48px;
    display: flex;
    align-items: center;
    color: #e9e4e2;
    justify-content: space-between;
    width: 100%;
}

.images p:not(:last-child) {
    border-bottom: 1px solid #3c3c3d;
}

.images img {
    width: 50%;
}

#competitions p {
    border: 1px solid #d2cdcb;
    width: max-content;
    padding: 0.5rem 1rem;
    border-radius: 50rem;
    color: #d2cdcb;
    margin-bottom: 0.625rem;
}

.slider {
    position: relative;
    width: 100%;
    aspect-ratio: 16/9;
    margin-bottom: 4rem;
}

.slider img {
    width: 100%;
    position: absolute;
    /* opacity: 0; */
    /* transition: all 1s; */
    visibility: hidden;
}

.slider img.first {
    opacity: 1;
    visibility: inherit;
}

.clubs-bar {
    display: flex;
    overflow-x: auto;
    justify-content: space-between;
    gap: 1rem;

}

.clubs-bar a {
    color: #d2cdcb;
    text-decoration: none;
    transition: ease-in-out 300ms;
}

.clubs-bar a:hover {
    letter-spacing: 1px;
    color: #5da0db;
}

.clubs-bar span {
    font-size: 0.75rem;
    font-weight: 700;
}


.clubs-bar-club {
    display: flex;
    flex-direction: column;
    height: 80px;
    align-items: center;
    justify-content: space-around;
}

.clubs-bar-club img {
    height: 50%;
}


@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}


@media only screen and (min-width : 768px) {
    .card {
        flex: 1 0 48%;
    }
}

@media only screen and (min-width : 1025px) {

    .card {
        flex: 1 0 24%;
    }

    .socials {
        position: absolute;
        background-color: rgba(0, 0, 0, 0.66);
    }

}